{% extends 'base.html' %}
{% block page_head %}
    <style>
        .card{
            transition: .5s !important;
        }
        .card:hover{
            box-shadow: 0 0 10px green;
        }
    </style>
{% endblock %}
{% block page %}
    <div class="container-fluid bg bg-primary">
        <div class="container py-5">
            <h3 class="fs-2 text-light">Meus Blogs</h3>
            <p class="fs-5 text-light">@{{request.user.username}} <a href="{% url 'AddBlog' %}" class="btn btn-light">Novo Blog</a></p>
        </div>
    </div>
    <div class="container">
        <div class="container d-flex align-items-center justify-content-between flex-wrap">
            {% for b in blogs %}
                <a href="{% url 'Blog' b.UID %}" class="card text-dark text-decoration-none m-2" style="width: 20rem; height: 180px;">
                    <div class="card-header bg bg-{{b.tema}} text-light">
                        Criado por: <b>{{ b.dono.username }}</b>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ b.nome }}</h5>
                        <p class="card-text">{{ b.descricao }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
{% endblock %}
{% block page_script %}
{% endblock %}